body{
    background-image: url(../images/PortadaCasas.png);
    width: 100%;
}
.contenedor{
    text-align: center;
}
.contenedor button{
    background-color: #ffbf00;
    border-radius: 10px;
    border: none;
    padding: 1%;
    width: 5%;
}
img{
    width: 400px;
    height: 550px;
}
#contenedorMostrarPersonaje{
    background-color: #f1d793;
    margin: auto;
    text-align: center;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid black;
    width: 40%;

}
#contenedorMostrarPersonaje button{
    background-color: #ffbf00;
    border-radius: 10px;
    border: none;
    padding: 2%;
}